<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 2px solid blue;
            border-radius: 10px;
            width: 40%;

        }

        .itens {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nome {
            display: flex;
            flex-direction: column;
            width: 70%;
            margin-top: 15px;

        }

        input[type="email"]:invalid {
            border: 2px solid red;
        }

        input[type="email"]:valid {
            border: 2px solid green;
            /* Opcional: para indicar que é válido */
        }

        input[type="url"]:invalid {
            border: 2px solid red;
        }

        input[type="url"]:valid {
            border: 2px solid green;
        }


        #mostrar {
            width: 20px;
            height: 20px;
        }

        .nome input {
            border-radius: 5px;
            padding: 6px;
        }

        .nome select {
            border-radius: 5px;
            padding: 6px;
        }

        #btn {
            margin-bottom: 15px;
            margin-top: 15px;
        }

        h1 {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .senha input {
            width: 90%;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>