<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("senha");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
        function verificarSenha() {
            var passwordInput = document.getElementById("senha");
            var passwordInput2 = document.getElementById("cps");
            if (passwordInput.value != passwordInput2.value) {
                alert('senhas não combinando!')
            }
            else {
                alert('Usuario Registrado!')
            }


        }
        function togglePasswordVisibilitys() {
            var passwordInput = document.getElementById("cps");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../formulario.css">
    <title>formulario</title>
</head>

<body>
    <h1>Registro de Aluno</h1>
    <div class="itens">
        <form action="/envio" method="post">
            <div class="nome">
                <in>
            </div>
            <div class="nome">
                <label>Nome</label>
                <input type="text" name="nome" placeholder="Nome Completo"><br>
            </div>
            <div class="nome">
                <label>Idade</label>
                <input type="number" name="nome"><br>
            </div>
            <div class="sexo">
                <label>Sexo:</label>
                <br>
                <label>Masculino</label>
                <input type="radio" name="nome"><br>
                <label>Feminino</label>
                <input type="radio" name="nome"><br>
            </div>
            <div class="nome">
                <label>CPF</label>
                <input type="number" name="nome" placeholder="999.999.999-99"><br>
            </div>
            <div class="nome">
                <label>RA</label>
                <input type="number" name="nome"><br>
            </div>
            <div class="nome">
                <label>Telefone</label>
                <input type="number" name="nome" placeholder="(DD) 99999-9999"><br>
            </div>
            <div class="nome">
                <label>Time do coração</label>
                <select>
                    <option value=''></option>
                    <option>Corinthians</option>
                    <option>Palmeiras</option>
                    <option>São Paulo</option>
                    <option>Santos</option>
                    <option>Cruzeiro</option>
                    <option>Atlético-MG</option>
                    <option>Athletico</option>
                    <option>Flamengo</option>
                    <option>Vasco</option>
                    <option>Botafogo</option>
                    <option>Fluminense</option>
                    <option>Gremio</option>
                    <option>Internacional</option>
                </select>
            </div>
            <div class="nome">
                <label>Altura</label>
                <input type="number" name="nome" placeholder="Em Cm"><br>
            </div>
            <div class="nome">
                <label>E-mail</label>
                <input type="email" name="nome" placeholder="E-email" required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"><br>
            </div>
            <div class="nome">
                <label>Site Favorito</label>
                <input type="url" name="nome" placeholder="Url do site" required><br>
            </div>
            <div class="nome">
                <label>Descrição do aluno</label>
                <textarea></textarea>
            </div>
            <div class="sexo">
                <label>Jogador Favorito:</label>
                <br>
                <label>Messi</label>
                <input type="radio" name="nome"><br>
                <label>Cristiano Ronaldo</label>
                <input type="radio" name="nome"><br>
                <label>Neymar</label>
                <input type="radio" name="nome"><br>
                <label>Halland</label>
                <input type="radio" name="nome"><br>
            </div>
            <div class="nome">
                <label>Data de Nascimento</label>
                <input type="date" name="nome" placeholder="E-email" max="2023-09-04" ><br>
            </div>
            <div class="nome">
                <label>Horário de Nascimento</label>
                <input type="time" name="nome" placeholder="E-email" ><br>
            </div>
            <div class="nome">
                <label>Cor Favorita</label>
                <input type="color" name="nome" placeholder="E-email" ><br>
            </div>

            <div class="nome">
                <label>Senha</label>
                <div class='senha'>
                    <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
                    <button id='mostrar' type="button" onclick="togglePasswordVisibility()">v</button>
                </div>

            </div>
            <div class="nome">
                <label>Confirmar Senha</label>
                <div class='senha'>
                    <input type="password" id="cps" name="senha" placeholder="Confirme sua senha">
                    <button id='mostrar' type="button" onclick="togglePasswordVisibilitys()">v</button>
                </div>

            </div>


            <button id='btn' type="submit" onclick="verificarSenha()">Enviar</button>
        </form>
    </div>

</body>

</html>